<!DOCTYPE html>
<html >
<head>
    <script src="./angular.min.js"></script>
    <script src="./dist/controllers/app.controller.js"></script>
    <script src="./dist/controllers/product-catalog.js"></script>
    <script src="./dist/modules/app.module.js"></script>
</head>
<body ng-app="myApp">
    <!-- Template Static Html-->
     <h1>Login List</h1>
     
     <div  ng-controller="MyController as vm">
        <ol>
            <li ng-repeat="user in vm.users">{{user.name}}     {{user.email}}</li>
        </ol>
    </div>
   
    <div class="row" ng-controller="ProductController as prod">
        <div class="col-md-3" ng-repeat="product in prod.products">
            <div class="card">
                <img ng-src="{{product.image}}" alt="{{product.name}}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p><strong>Price: </strong>${{product.price}}</p>
                    <button class="btn btn-primary btn-block">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
</body>

</html>